@use "/src/sass/components/_dropdown.scss";
@use "sass:math";
@use "../components/vars.scss";

.about-dropdowns {
    margin: 33px 209px 46px 208px ;
    @media (max-width: vars.$tablet) {
        width: math.div(335px, 375px)*100%;
        margin: math.div(20px, 375px)*100%;
        /*.description {
            min-height: 143.65px;
        }*/
    }  
}
.about-banner{
    @media (max-width: vars.$tablet) {
        width: math.div(336px, 375px)*100%;
        height: 223px;
    }  
}