@use '../components/vars.scss';
@use "sass:math";

.main-error {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: vars.$main-pink;
    font-family: vars.$main-fonts;
    p{
        font-size: 36px;
        margin-top: 66px;
        font-weight: 500;
        line-height: 142.6%;
        @media (max-width: vars.$tablet) {
            font-size: 18px;
            margin-top: 11px;
            width: math.div(260px, 375px)*100%;
            text-align: center;
        }
    }
    a{
        color:vars.$main-pink;
        margin-top: 182px;
        margin-bottom: 159px;
        font-size: 18px;
        font-weight: 500;
        line-height: 142.6%;
        @media (max-width: vars.$tablet) {
            font-size: 14px;
            margin-top: 133px;
            margin-bottom: 235px;
        }         
    }
    .error-number {
        font-weight: 700;
        font-size: 240px;
        margin-top: 169px;
        @media (max-width: vars.$tablet) {
            font-size: 96px;
            margin-top: 195px;
        }        
    }
}