@use '../components/vars.scss';

.main-error {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: vars.$main-pink;
    font-family: vars.$main-fonts;
    p{
        font-size: 36px;
        margin-top: 66px;
        font-weight: 500;
        line-height: 142.6%;
    }
    a{
        color:vars.$main-pink;
        margin-top: 182px;
        margin-bottom: 159px;
        font-size: 18px;
        font-weight: 500;
        line-height: 142.6%;
    }
    .error-number {
    font-weight: 700;
    font-size: 240px;
    margin-top: 169px;
    }
}