@use "sass:math";
@use "/src/sass/components/vars.scss";

.banner {
    width: math.div(1240px, 1440px)*100%;
    height: 223px;
    margin:auto;
    border-radius: 25px;
    position: relative;
    @media (max-width: vars.$mobile) {
        width: math.div(335px, 375px)*100%;
        height: 111px;
    }
    img{
        width: 100%;
        height:100%;
        object-fit: cover;
        position: absolute;
        z-index: -1;
        border-radius: 25px;
    }
    p{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        z-index: 2;
        color: #FFFFFF;
        text-align: center;
        font-weight: 500;
        font-size: 48px;
        font-family: vars.$main-fonts;
        line-height: vars.$line-height;
        margin:0;
        width: math.div(705px, 1240px)*100%;
        @media (max-width: vars.$tablet) {
            font-size: 40px;
        }
        @media (max-width: vars.$mobile) {
            text-align:left;
            left: 16px;
            font-size: 24px;
            line-height: 100%;
            left: 9.6%;
            transform: translate(-9.6%,-50%);
            margin-left: 16px;
            width: math.div(217px, 335px)*100%;
        }
    }
}
