@use "sass:math";
@use "/src/sass/components/vars.scss";

.banner {
    width:math.div(1240px, 1440px)*100%;
    height: 223px;
    margin:auto;
    border-radius: 25px;
    position: relative;
    img{
        width: 100%;
        height:100%;
        object-fit: cover;
        position: absolute;
        z-index: -1;
        border-radius: 25px;
    }
    p{
        position: absolute;
        left: math.div(273px, 1440px)*100%;
        top: 78px;
        z-index: 2;
        color: #FFFFFF;
        font-family: vars.$main-fonts;
        font-weight: 500;
        font-size: 48px;
        line-height: 68px;
        margin:0;
    }
}
.overlay:after {
    content: " ";
    display: block;
    position: absolute;
    z-index: 1;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    background:  rgba(0,0,0,0.3) ;
    border-radius: 25px;
  }