@use 'vars';
@use "sass:math";


.dropdown{
    height: fit-content;
    background-color: #F7F7F7;
    border-radius: 5px;
    margin-bottom: 33px;
    font-family: vars.$main-fonts;
    font-size: 24px;
    line-height: 142.6%;
    @media (max-width: vars.$mobile) {
        margin-bottom: 20px;
    }  
        .dropdown-head {
            background-color: vars.$main-pink;
            color: #FFFFFF;
            border-radius: 5px;
            height: 47px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            cursor: pointer;
            @media (max-width: vars.$mobile) {
                font-size: 13px;
                height: 29.96px;
            }
        }
        .dropdown-title {
            padding-left: math.div(20px, 582px)*100%;
            font-weight: 500;
        }
        .description {
            padding: 30px 27px 18px 20px;
            margin:0;
            font-style: normal;
            font-weight: 400;
            color: vars.$main-pink;
            border-radius: 5px;
            line-height: 142.6%;
            @media (max-width: vars.$mobile) {
                font-size: 12px;
                padding: 17px 7px 2px 11.5px;
            }
        }
        .icon {
            padding-right: 1.77%;
        }
    }


