@use "sass:math";
@use 'vars';


.gallery {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    background: #F7F7F7;
    border-radius: 25px;
    border-radius: 25px;
    margin: 43px 100px;
    @media  (max-width: vars.$mobile ) {
        flex-direction: column;
        align-items: center;
        width: math.div(335px, 375px)*100%;
        margin:auto;
        margin-bottom: 22px;
        padding: 0;
        background: none;
    }
}